.connector {
  position: relative;  /* очень важно! */
  width: 276px;
  height: 521px;
  border-radius: 12px;

  overflow: visible;    /* если провода выступают за пределы */
}

.pin {
  position: absolute;   /* уже было */
  width: 12px;
  height: 56px;
  background: #FFD000;
  border-radius: 6px;
  z-index: 10;
}
