.connector {
  position: relative;
  width: 276px; /* как у SVG */
  margin: 0 auto;
}

/* SVG */
.connector-svg {
  position: relative;
  display: block;
  width: 276px;
  height: auto;
  z-index: 1;
  pointer-events: none;
}

/* Пины — строго поверх верхней рамки */
.pins-row {
  position: absolute;
  top: 45px; /* идеальное попадание по твоей планке */
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between; /* РАВНОМЕРНО распределяет */
  padding: 0 20px; /* отступы от краёв */
  z-index: 3;
  pointer-events: none; /* нельзя взаимодействовать, чтобы не мешали */
}

.pin {
  width: 13px;
  height: 56px;
  background: #FFD000;
}
