.dragLayer {
  position: fixed;
  pointer-events: none;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.draggingEl{
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
}
